<!-- About Us coding start from here  -->
<div class="modal" tabindex="-1" id="aboutModal">
    <div class="modal-dialog modal-dialog-centered animate__animated animate__zoomIn animate__faster rounded-0">
        <div class="modal-content rounded-0">
            <div class="modal-header bg-warning text-light rounded-0 py-0">
                <h5 class="modal-title m-0">Postmaster</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light d-flex flex-column justify-content-center align-items-center">
                <h1>Postmaster</h1>
                <p>Registered to TwitterInc</p>
                <p>200 User License</p>

                <p>Copyright © 2022 Postmaster HQ Pvt Ltd</p>
                <p>Version: <strong id="versionModal"></strong></p>
            </div>
        </div>
    </div>
</div>
<!-- About Us coding end here -->