<!-- License coding start from here  -->
<div class="modal" tabindex="-1" id="licenseModal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered animate__animated animate__zoomIn animate__faster rounded-0">
        <div class="modal-content rounded-0" style="height: 600px;">
            <div class="modal-header py-1 bg-info">
                <h5 class="modal-title" id="staticBackdropLabel">License</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4 bg-light" id="licenseBody"></div>
        </div>
    </div>
</div>
<!-- License coding end here -->